{% extends 'base.html' %}
{% load static %}
{% block title %}Bienvenido{% endblock %}

{% block content %}
<div class="hero">
    <div class="hero-content">
        <div class="left">
            <h1>Soy desarrollador</h1>
            <h1>Joaquin Muñoz</h1>
            <p>Soy Joaquín Muñoz, estudiante de Ingeniería en Sistemas en la UTN, actualmente en mi quinto año. Me apasiona el desarrollo backend, la ciencia de datos y la inteligencia artificial. Me destaco por mi curiosidad, autonomía y buenas habilidades blandas, trabajando en proyectos personales para aprender y crecer profesionalmente.</p>
            <a href="#contact" class="btn">Contáctame</a>
        </div>
        <div class="right">
            <img src="{% static 'big-data.png' %}" width="600px">
        </div>
    </div>
</div>
{% include 'section-form.html' %}
{% include 'section-first.html' %}
{% include 'section-second.html' %}
{% include 'section-third.html' %}

{% endblock %}