<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <style>
                .left {
                    float: left;
                }
            </style>
            <div class="left padded">
                <h2>Formación</h2>
                <p>Estudio Ingeniería en Sistemas en la Universidad Tecnológica Nacional. Actualmente estoy en mi quinto año de la carrera</p>
                <p>También me formé realizando cursos online en plataformas como Udemy y autoaprendizaje.</p>
            </div>
            <div style="float:right; width:50%" class="padded">
                <h2>Gestión de Proyectos</h2>
                <p>Durante la carrera, incorporé conocimientos sobre gestión de proyectos de software. Aprendí a llevar adelante un proyecto desde sus etapas iniciales: análisis de requerimientos, relevamiento, modelado, estimaciones de costos y tiempos, gestión de riesgos y planificación con cronogramas. También trabajé con métricas de calidad y mantenimiento evolutivo del sistema. Si bien no gestioné un proyecto real de forma integral, estas herramientas me permiten tener una visión completa del ciclo de vida del desarrollo.</p>
            </div>
        </div>
    </div>
</div>q
