<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estás convencido? Mira lo que he construído</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Gestor de Alumnos</h3>
                <p>Una aplicación web con Django para la inscripción y el control de alumnos. A desplegar.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Sistema de turnos para canchas</h3>
                <p>Un sistema web con Django para la gestión de turnos para canchas de futbol. A desplegar.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>ABM de Veterinaria.</h3>
                <p>Un sistema web con Django para la gestión de veterinaria, incluye Dockerización y Entrega/Integración Continua. A desplegar.</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
        </div>
    </div>
</div>