 <div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Habilidades Técnicas</h1>
                <p><ul>
                    <li><strong>Lenguajes:</strong> Python, SQL.</li>
                    <li><strong>Frameworks:</strong> Django, Flask.</li>
                    <li><strong>Frontend:</strong> HTML, CSS, Bootstrap, JavaScript (básico).</li>
                    <li><strong>Herramientas:</strong> Git, Docker.</li>
                    <li><strong>Otros:</strong> Pandas, Numpy, POO, Testing, Integración y Entrega Continua, Despliegue.</li>
                  </ul></p>
            </div>
            <div class="right padded">
                    <h1>Habilidades Blandas</h1>
                    <p><ul>
                        <li>Comunicación efectiva.</li>
                        <li>Trabajo en equipo.</li>
                        <li>Resolución de problemas.</li>
                        <li>Adaptabilidad.</li>
                      </ul></a></p>
            </div>
        </div>
    </div>
</div>