<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estás convencido? Mira lo que he construído</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Proyecto Uno</h3>
                <p>Descripcion</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Proyecto Uno</h3>
                <p>Descripcion</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Proyecto Uno</h3>
                <p>Descripcion</p>
                <a href="#" class="orange">Link aquí</a>
            </div>
        </div>
    </div>
</div>